body {
  margin: 0;
  background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100vh;
  overflow: hidden;
  position: relative;
}

#root {
  height: 100vh;
}

.action {
  cursor: pointer;
}

@keyframes gagneurRed {
  0% {
    box-shadow: 0 8px 0px 0px hsl(349, 71%, 42%), 0px 8px 0px 0px rgba(255, 255, 255, 0.2), 0px 8px 0px 0px rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0 8px 0px 0px hsl(349, 71%, 42%), 0px 8px 0px 30px transparent, 0px 8px 0px 60px transparent;
  }
}
@keyframes gagneurYellow {
  0% {
    box-shadow: 0 8px 0px 0px hsl(39, 89%, 39%), 0px 8px 0px 0px rgba(255, 255, 255, 0.2), 0px 8px 0px 0px rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0 8px 0px 0px hsl(39, 89%, 39%), 0px 8px 0px 30px transparent, 0px 8px 0px 60px transparent;
  }
}
@keyframes gagneurBlue {
  0% {
    box-shadow: 0 8px 0px 0px hsl(230, 89%, 52%), 0px 8px 0px 0px rgba(255, 255, 255, 0.2), 0px 8px 0px 0px rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0 8px 0px 0px hsl(230, 89%, 52%), 0px 8px 0px 30px transparent, 0px 8px 0px 60px transparent;
  }
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#divJeux {
  background-image: url("./assets/bg/bg-triangle.svg");
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;
  margin-top: 10vh;
  width: 34rem;
  height: 26rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#divJeux div > div:hover {
  background-color: rgb(214, 214, 214);
  cursor: pointer;
  box-shadow: none;
}
#divJeux div > div:hover img {
  transform: translateY(3px);
  opacity: 1;
}
#divJeux div > div {
  transition: 0.5s;
}
#divJeux div > div img {
  transform: translateY(-4px);
  transition: 0.5s;
  opacity: 0.7;
}
#divJeux .rouge {
  background-image: radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
  width: 10rem;
  max-width: 30vw;
  max-height: 30vw;
  box-shadow: 0 8px 0px 0px hsl(349, 71%, 42%);
  top: -2rem;
  left: 2.2rem;
  position: absolute;
}
#divJeux .rouge div {
  box-shadow: 0 -8px 0 0 rgb(214, 214, 214), 0 -6px 0 0 hsl(349, 71%, 42%) inset;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  height: 7rem;
  max-width: 20vw;
  max-height: 20vw;
  width: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#divJeux .jaune {
  top: -2rem;
  right: 2.2rem;
  position: absolute;
  background-image: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
  width: 10rem;
  max-width: 30vw;
  max-height: 30vw;
  box-shadow: 0 8px 0px 0px hsl(39, 89%, 39%);
}
#divJeux .jaune div {
  box-shadow: 0 -8px 0 0 rgb(214, 214, 214), 0 -6px 0 0 hsl(39, 89%, 39%) inset;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  height: 7rem;
  max-width: 20vw;
  max-height: 20vw;
  width: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#divJeux .bleu {
  bottom: 0;
  background-image: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
  width: 10rem;
  max-width: 30vw;
  max-height: 30vw;
  box-shadow: 0 8px 0px 0px hsl(230, 89%, 52%);
  position: absolute;
}
#divJeux .bleu div {
  box-shadow: 0 -8px 0 0 rgb(214, 214, 214), 0 -6px 0 0 hsl(230, 89%, 52%) inset;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  height: 7rem;
  max-width: 20vw;
  max-height: 20vw;
  width: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#divLancer {
  width: 40rem;
  height: 30rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
#divLancer .rouge {
  background-image: radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15rem;
  width: 15rem;
  max-width: 30vw;
  max-height: 30vw;
  box-shadow: 0 8px 0px 0px hsl(349, 71%, 42%);
}
#divLancer .rouge div {
  box-shadow: 0 -8px 0 0 rgb(214, 214, 214), 0 -6px 0 0 hsl(349, 71%, 42%) inset;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  height: 10rem;
  max-width: 20vw;
  max-height: 20vw;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#divLancer .rouge.gagneur {
  animation: gagneurRed 1s forwards infinite !important;
}
#divLancer .jaune {
  background-image: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15rem;
  width: 15rem;
  max-width: 30vw;
  max-height: 30vw;
  box-shadow: 0 8px 0px 0px hsl(39, 89%, 39%);
}
#divLancer .jaune div {
  box-shadow: 0 -8px 0 0 rgb(214, 214, 214), 0 -6px 0 0 hsl(39, 89%, 39%) inset;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  height: 10rem;
  max-width: 20vw;
  max-height: 20vw;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#divLancer .jaune.gagneur {
  animation: gagneurYellow 1s forwards infinite !important;
}
#divLancer .bleu {
  background-image: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15rem;
  width: 15rem;
  max-width: 30vw;
  max-height: 30vw;
  box-shadow: 0 8px 0px 0px hsl(230, 89%, 52%);
}
#divLancer .bleu div {
  box-shadow: 0 -8px 0 0 rgb(214, 214, 214), 0 -6px 0 0 hsl(230, 89%, 52%) inset;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  height: 10rem;
  max-width: 20vw;
  max-height: 20vw;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#divLancer .bleu.gagneur {
  animation: gagneurBlue 1s forwards infinite !important;
}
#divLancer > div:last-of-type {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#divLancer div > div {
  transition: 0.5s;
}
#divLancer div > div img {
  transform: translateY(-4px);
  transition: 0.5s;
  opacity: 0.7;
}

#relancer {
  top: 30%;
  transform: translateY(-30%);
  color: rgb(255, 255, 255);
  width: min-content;
}
#relancer p {
  font-size: 2em;
}
#relancer button {
  width: 100%;
}

#choseTitle {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 40rem;
}
#choseTitle h2 {
  position: absolute;
  color: rgb(255, 255, 255);
}
#choseTitle h2:first-of-type {
  left: 3rem;
}
#choseTitle h2:last-of-type {
  right: 1rem;
}

header {
  margin: 5vh 20vw;
  border: 2px solid hsl(217, 16%, 45%);
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#scoring {
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: rgb(255, 255, 255);
  padding: 0.2rem 3rem;
  gap: 1rem;
}
#scoring p {
  margin: 0;
}
#scoring p:first-of-type {
  font-size: 1.5rem;
}
#scoring p:last-of-type {
  font-size: 2rem;
}

#score_normal {
  color: hsl(229, 25%, 31%);
}

#score_red {
  color: hsl(349, 71%, 42%);
}

#mondal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
}
#mondal h2 {
  margin: 0;
}
#mondal > div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: rgb(255, 255, 255);
  padding: 4rem;
  border-radius: 10px;
}
#mondal > div div {
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#mondal > div div img {
  height: 100%;
}

#btnRule {
  display: flex;
  justify-content: flex-end;
  border-radius: 10px;
  position: absolute;
  bottom: 10vh;
  right: 5vw;
}

@media screen and (max-width: 768px) and (min-width: 425px) {
  header {
    box-sizing: border-box;
    flex-basis: content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    gap: 10%;
  }
  header img {
    flex: 1;
  }
  header #scoring {
    box-sizing: border-box;
    flex: 2;
    padding: 0.5rem;
  }
  header #scoring p:first-of-type {
    font-size: 20px;
    max-height: 30vw;
  }
  header #scoring p:last-of-type {
    font-size: 30px;
    max-height: 30vw;
  }
  header #scoring p:last-of-type span {
    white-space: nowrap;
  }
  #divJeux {
    width: 100vw;
    background-size: 70% 90%;
    height: 40vh;
  }
  #divJeux .rouge {
    left: 10vw;
  }
  #divJeux .jaune {
    right: 10vw;
  }
  #divJeux .bleu {
    bottom: -1rem;
  }
  #divLancer {
    position: relative;
    width: 100vw;
    height: 30rem;
  }
  #choseTitle {
    width: 100%;
  }
  #choseTitle h2:first-of-type {
    left: 0;
    width: 40%;
  }
  #choseTitle h2:last-of-type {
    text-align: end;
    width: 40%;
    right: 0;
  }
}
@media screen and (max-width: 425px) {
  body {
    width: 100vw;
  }
  header {
    box-sizing: border-box;
    flex-basis: content;
    gap: 10%;
    box-sizing: border-box;
    flex-basis: content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  header img {
    flex: 1;
    width: 80%;
  }
  header #scoring {
    flex: 1;
    padding: 1rem 1.5rem;
  }
  header #scoring p:first-of-type {
    font-size: 15px;
    max-height: 30vw;
  }
  header #scoring p:last-of-type {
    font-size: 20px;
    max-height: 30vw;
  }
  header #scoring p:last-of-type span {
    white-space: nowrap;
  }
  #divJeux {
    width: 100vw;
    background-size: 70% 90%;
    height: 40vh;
  }
  #divJeux .rouge {
    left: 10vw;
  }
  #divJeux .jaune {
    right: 10vw;
  }
  #divJeux .bleu {
    bottom: -1rem;
  }
  #divLancer {
    position: relative;
    width: 100%;
    height: 30rem;
  }
  #choseTitle {
    width: 100%;
  }
  #choseTitle h2:first-of-type {
    left: 0;
    width: 40%;
    font-size: 20px;
  }
  #choseTitle h2:last-of-type {
    right: 0;
    width: 40%;
    text-align: end;
  }
  #relancer {
    width: 40px;
  }
  #relancer p {
    font-size: 1rem;
  }
  #relancer button {
    box-sizing: content-box;
    font-size: 0.6rem;
    width: 100%;
  }
  #mondal {
    position: fixed;
    background-color: rgb(255, 255, 255);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(0);
  }
  #mondal > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    gap: 10vh;
    background-color: rgb(255, 255, 255);
    padding: 4rem;
    border-radius: 10px;
  }
  #mondal > div div {
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

/*# sourceMappingURL=index.css.map */
