body {
  margin: 0;
  background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

#root {
  max-height: 90vh;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#divJeux {
  background-image: url("./assets/bg/bg-triangle.svg");
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;
  width: 34rem;
  height: 26rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#divJeux div > div:hover {
  background-color: rgb(214, 214, 214);
  cursor: pointer;
  box-shadow: none;
}
#divJeux div > div {
  transition: 0.5s;
}
#divJeux .rouge {
  background-image: radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
  width: 10rem;
  box-shadow: 0 8px 0px 0px hsl(349, 71%, 42%);
  top: 0;
  left: 3rem;
  position: absolute;
}
#divJeux .rouge div {
  box-shadow: 0 -8px 0 0 rgb(214, 214, 214), 0 -6px 0 0 hsl(349, 71%, 42%) inset;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  height: 7rem;
  width: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#divJeux .jaune {
  top: 0;
  right: 3rem;
  position: absolute;
  background-image: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
  width: 10rem;
  box-shadow: 0 8px 0px 0px hsl(39, 89%, 39%);
}
#divJeux .jaune div {
  box-shadow: 0 -8px 0 0 rgb(214, 214, 214), 0 -6px 0 0 hsl(39, 89%, 39%) inset;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  height: 7rem;
  width: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#divJeux .bleu {
  bottom: 0;
  background-image: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
  width: 10rem;
  box-shadow: 0 8px 0px 0px hsl(230, 89%, 52%);
  position: absolute;
}
#divJeux .bleu div {
  box-shadow: 0 -8px 0 0 rgb(214, 214, 214), 0 -6px 0 0 hsl(230, 89%, 52%) inset;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  height: 7rem;
  width: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#divLancer {
  width: 40rem;
  height: 30rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
#divLancer .rouge {
  background-image: radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15rem;
  width: 15rem;
  box-shadow: 0 8px 0px 0px hsl(349, 71%, 42%);
}
#divLancer .rouge div {
  box-shadow: 0 -8px 0 0 rgb(214, 214, 214), 0 -6px 0 0 hsl(349, 71%, 42%) inset;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#divLancer .jaune {
  background-image: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15rem;
  width: 15rem;
  box-shadow: 0 8px 0px 0px hsl(39, 89%, 39%);
}
#divLancer .jaune div {
  box-shadow: 0 -8px 0 0 rgb(214, 214, 214), 0 -6px 0 0 hsl(39, 89%, 39%) inset;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#divLancer .bleu {
  background-image: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15rem;
  width: 15rem;
  box-shadow: 0 8px 0px 0px hsl(230, 89%, 52%);
}
#divLancer .bleu div {
  box-shadow: 0 -8px 0 0 rgb(214, 214, 214), 0 -6px 0 0 hsl(230, 89%, 52%) inset;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#divLancer > div:last-of-type {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#relancer {
  top: 30%;
  transform: translateY(-30%);
  color: rgb(255, 255, 255);
  width: min-content;
}
#relancer p {
  font-size: 2em;
}
#relancer button {
  width: 100%;
}

#choseTitle {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 40rem;
}
#choseTitle h2 {
  position: absolute;
  color: rgb(255, 255, 255);
}
#choseTitle h2:first-of-type {
  left: 3rem;
}
#choseTitle h2:last-of-type {
  right: 1rem;
}

header {
  margin: 2rem 10rem;
  border: 2px solid hsl(217, 16%, 45%);
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

#scoring {
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: rgb(255, 255, 255);
  padding: 0.2rem 3rem;
  gap: 1rem;
}
#scoring p {
  margin: 0;
}
#scoring p:first-of-type {
  font-size: 1.5rem;
}
#scoring p:last-of-type {
  font-size: 2rem;
}

#score_normal {
  color: hsl(229, 25%, 31%);
}

#score_red {
  color: hsl(349, 71%, 42%);
}

#mondal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
}
#mondal img {
  background-color: rgb(255, 255, 255);
  padding: 5rem;
  border-radius: 10px;
}

#btnRule {
  display: flex;
  justify-content: flex-end;
  margin-right: 5rem;
  margin-bottom: 3rem;
  border-radius: 10px;
}

/*# sourceMappingURL=index.css.map */
