@use './_variable' as *
@use './_mixin' as *
@use './_animation' as *

section
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

#divJeux
    background-image: url('./assets/bg/bg-triangle.svg')
    background-repeat: no-repeat
    background-size: 75%
    background-position: center
    margin-top: 10vh
    width: 34rem
    height: 26rem
    position: relative
    display: flex
    align-items: center
    justify-content: center

    div
        >div:hover
            background-color: $whiteBis
            cursor: pointer
            box-shadow: none
            img
                transform: translateY(3px)
                opacity: 1
    div
        >div
            transition: 0.5s 
            img
                transform: translateY(-4px)
                transition: 0.5s
                opacity: 0.7

            
    .rouge
        @include borderBtn($bg: $rockGradient, $taille: $btnBorder_height, $color:$redShadow)
        top: -2rem
        left: 2.2rem
        position: absolute
        div
            @include btn($btn_height,$red)
    .jaune
        top: -2rem
        right: 2.2rem
        position: absolute
        @include borderBtn($bg: $scissorsGradient,$taille: $btnBorder_height,$color:$yellowShadow)
        div
            @include btn($btn_height,$yellow)
    .bleu
        bottom: 0
        @include borderBtn($bg: $paperGradient, $taille: $btnBorder_height,$color:$blueShadow)
        position: absolute
        div
            @include btn($btn_height,$blue)

#divLancer
    width: 40rem
    height: 30rem
    
    display: flex
    justify-content: space-between
    align-items: center

    position: relative
    

    .rouge
        @include borderBtn($bg: $rockGradient,$taille: $btnBorder_heightBis,$color:$redShadow)
        div
            @include btn($btn_heightBis,$red)
        &.gagneur
            animation: gagneurRed 1s forwards infinite  !important
    .jaune
        
        @include borderBtn($bg: $scissorsGradient,$taille: $btnBorder_heightBis,$color:$yellowShadow)
        div
            @include btn($btn_heightBis,$yellow)
        &.gagneur
            animation: gagneurYellow 1s forwards infinite  !important
    .bleu
        @include borderBtn($bg: $paperGradient,$taille: $btnBorder_heightBis,$color:$blueShadow)
        div
            @include btn($btn_heightBis,$blue)
        &.gagneur
            animation: gagneurBlue 1s forwards infinite  !important
    >div:last-of-type
        position: absolute
        left: 50%               
        transform: translateX(-50%)
    
    
    div
        >div
            transition: 0.5s 
            img
                transform: translateY(-4px)
                transition: 0.5s
                opacity: 0.7

#relancer
    top: 30%
    transform: translateY(-30%)
    color: $white
    width: min-content
    p
        font-size: 2em
    button
        width: 100%

#choseTitle
    flex-direction: row
    display: flex
    position: relative
    width: 40rem
    h2
        position: absolute
        color: $white
    h2:first-of-type
        left: 3rem
    h2:last-of-type
        right: 1rem