@use './_variable' as *

@mixin borderBtn($bg,$taille)
    background-image: $bg
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center
    height: $taille
    width: $taille

@mixin btn($taille)
    background-color: $white
    border-radius: 50%
    height: $taille
    width: $taille
    display: flex
    align-items: center
    justify-content: center
    