@use './_variable' as *

@mixin borderBtn($bg,$taille,$color)
    background-image: $bg
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center
    height: $taille
    width: $taille
    max-width: 30vw
    max-height: 30vw
    box-shadow: 0 8px 0px 0px $color
    


@mixin btn($taille,$color)
    box-shadow: 0 -8px 0 0 $whiteBis , 0 -6px 0 0 $color inset
    background-color: $white
    border-radius: 50%
    height: $taille
    max-width: 20vw
    max-height: 20vw
    width: $taille
    display: flex
    align-items: center
    justify-content: center
    